---
permalink: /tags/
layout: layouts/base
---
<h2>All tags:</h2>

    <ul class="list pl0 cf">
        {% for tag in collections.tagList %}
        <li class="fl pr3">
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <!-- ideally list how many are in each tag -->
            <a href="{{ tagUrl | url }}" class="tag link dark-gray dib underline hover-bg-hot-pink">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>

<p class="f6">
    New and improved "all tags" page coming Spring 2020-ish.
</p>

<!-- <h2>Or view by year:</h2> -->