---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - group
    - page
    - item
    - featured
  addAllPagesToCollections: true
layout: base.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h2>Tagged “{{ tag }}”</h2>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}" class="link dark-gray dib underline hover-bg-hot-pink">all tags</a>.</p>