---
permalink: /tags/
layout: base.njk
---
<h1>All tags:</h1>
<p>
    <ul>
        {% for tag in collections.tagList %}
        <li class="f6 link dim ba ph3 pv2 mb2 dib black">
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
</p>