---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - group
    - page
    - item
  addAllPagesToCollections: true
layout: base.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagged “{{ tag }}”</h1>

<!-- this works, but only on the Tags page itselfs -->
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>