<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.css">
    <!-- <link rel="stylesheet" href="/css/custom.css"> -->
</head>

<body class="bg-near-white mid-gray helvetica fw3 ph3 pt3">
    <div>
        {{ collections.nav | eleventyNavigation | eleventyNavigationToHtml({
        listElement: "div", listItemElement: "div", listClass: "list", listItemClass: "fr pl2 link"
        }) | safe }}
    </div>
    <article class="lh-copy">
        <h1 class="georgia fw1 lh-title">{{ title }}</h1>
        <h2 class="fw3 lh-title">{{ description }}</h2>
        <p>
        {{ content | safe }}
        </p>


        <!-- here: eval if this is home, if home show "shows" list -->
        {% if page.url == "/" %}
        <h2 class="fw1 georgia lh-title">Featured</h2>
        {%- for featured in collections.featured -%}
        <h2 class="fw3 lh-title">{{ featured.data.title }}</h2>

        <div>
            <div class="cf">
                <div class="fl w-100 w-25-ns pr3">
                    <img src="/img/{{ featured.data.image }}" alt="{{ featured.data.title }}" class="nested-img img" />
                </div>
                <div class="fl w-100 w-75-ns bt bw2">
                    <p>
                    {{ content | safe }}
                    </p>
                </div>
            </div>      
        </div>
        {% endfor %}
        {% endif %}
    </article>
    <footer class="pt3 mt3 bt bw2">
        &copy; {{ metadata.title }} | this is some footer
    </footer>
</body>

</html>
<!-- <br /> -->
<!-- this is for QA - shows all pages -->
<!-- <hr />
    <ul>
        {%- for post in collections.all -%}
        <li><a href="{{ post.url }}">{{ post.url }}</a></li>
        {%- endfor -%}
    </ul> -->