<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.css">
</head>

<body class="pa3 ma3 lh-copy dark-gray bg-washed-blue">
    <nav class="pa0 pa0-ns fr">
        {{ collections.nav | eleventyNavigation | eleventyNavigationToHtml({
        listElement: "ul", listItemElement: "li", listClass: "list pl0", listItemClass: "link dib mr3 underline hover-bg-hot-pink"
        }) | safe }}
    </nav>
    <h1 class="pt3">
        <a href="/" class="link dark-gray dib underline hover-bg-hot-pink">
            {{ metadata.title }}
        </a>
    </h1>
    <!-- if this is not the homepage, display the page title -->
    {% if page.url != "/" %}
    <h2 class="">{{ title }}</h2>
    {% endif %}
    <!-- page content -->
    <article class="">
        {{ content | safe }}
    </article>
    <!-- here: eval if this is home, if home show featured tag -->
    <div class="center ph0-ns">
        {% if page.url == "/" %}
        {% for featured in collections.featured %}
        <h2>Featured:</h2>
        <h3 class="">
            <a href="{{ featured.url | url }}" class="link dark-gray dib underline hover-bg-hot-pink">
                {{ featured.data.title }}
            </a>
        </h3>
        <ul class="list pl0 cf ph0-ns">
            <li class="fl w-100 w-50-ns pr3">
                <div class="bt bw3">
                    <p class="">
                        {{ featured.data.description }}
                    </p>
                    <p>
                        {{ featured.data.date | readableDate }}
                    </p>
                </div>
            </li>
            <li class="fl w-100 w-50-ns">
                <div class="">
                    <a href="{{ featured.url | url }}" class="link dim">
                        <img src="/img/{{ featured.data.image }}" alt="{{ featured.data.title }}" class="img" />
                    </a>
                </div>
            </li>
        </ul>
        {% endfor %}
        {% endif %}
    </div>
    <footer class="bt bw3">
        <p class="f6">
            &copy; <a href="/" class="link dark-gray dib underline hover-bg-hot-pink">{{ metadata.title }}</a> | built with <a href="https://www.11ty.dev/" class="link dark-gray dib underline hover-bg-hot-pink">11ty</a> and <a href="https://tachyons.io/" class="link dark-gray dib underline hover-bg-hot-pink">Tachyons</a>
        </p>
        
    </footer>

    <br />
    <p> this is for testing </p>
    <hr />
    <ul>
        {%- for post in collections.all -%}
        <li><a href="{{ post.url }}">{{ post.url }}</a></li>
        {%- endfor -%}
    </ul>
</body>

</html>