---
layout: base.njk
---
<p>this uses the "group" template</p>
<p class="">{{ content | safe }}</p>

    <ul class="">
        {% for item in collections.item %}
        {% if item.data.ID == ID %}
            <li class="">
                <a href="{{ item.url }}">
                    <h3 class="">{{ item.data.title }}</h3>
                </a>
                <a href="{{ item.url }}"><img src="/img/{{ item.data.image }}" alt="{{ title }}" class="" /></a>
            </li>
        
        {% endif %}
        {% endfor %}
    </ul>
