---
layout: base.njk
---
<article class="cf">
        <p>this uses the "item" template</p>

    <header class="fn fl-ns w-50-ns pr3-ns">
        <p class="f2 lh-title fw9 mb3 mt0 pt1 bt bw2 ">
            {{ content | safe }}
        </p>
        <a href="../../{{ ID | url }}">&larr; back to book index</a>
        <p>Tags:</p>
        <ul class="list ph0 pt3">
            {% for tag in collections.tagList %}
            <li class="di">
                {% if tag == "group" %}
                {% elif tag == "item" %}
                {% elif tag == "featured" %}
                {% else %}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="f6 link dim ba ph3 pv2 mb2 dib black">{{ tag }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <!-- <time class="f6 ttu tracked gray">Sometime before 1967</time> -->
    </header>
    <div class="fn fl-ns w-50-ns mw-100">
        <img src="/img/{{ image }}" alt="{{ title }}" class="nested-img img" />
    </div>
</article>