---
layout: base.njk
---
<p>this uses the "page" template</p>

{{ content | safe }}

<p>
 {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}   
</p>

