---
layout: base.njk
---
<p>this uses the "page" template</p>
{{ content | safe }}
<!-- see about removing extra padding from the far left and right of the flexbox -->
<ul class="list flex justify-between ph0 mh0">
    {% for group in collections.group %}
    {% if group.data.eleventyNavigation.parent == eleventyNavigation.key %}
    <li class="pv2 ph2">
        <a href="{{ group.url }}"><img src="/img/{{ group.data.image }}" alt="{{ description }}" class="nested-img img" /></a>
        <a href="{{ group.url }}">{{ group.data.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>