<!-- <p>this is the post list</p> -->

<div class="center ph0-ns">
    <ul class="list pl0 cf ph0-ns">
        {% for post in postslist | reverse %}
        <li class="fl w-100 w-25-ns vh-75-ns pr0 pr3-ns">
            <div class="bt bw3">
                <h3 class="ma0 pv3">
            <a href="{{ post.url | url }}" class="link dark-gray dib underline hover-bg-hot-pink">
                {{ post.data.title }}
            </a>
            </h3>
        </div>
            <a href="{{ post.url }}" class="link dim"><img src="/img/{{ post.data.image }}" alt="{{ description }}" class="img dim" /></a>
            <ul class="list pl0">
                {% for tag in post.data.tags %}
                {% if tag == "group" %}
                {% elif tag == "item" %}
                {% elif tag == "featured" %}
                {% else %}
                <li class="fl pr3">
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="link underline hover-bg-hot-pink">{{ tag }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
    </ul>
</div>


