---
layout: base.njk
---

<p>this uses the "show" template</p>
{{ content | safe }}

<!-- there is probably a better way to do this -->
<!-- decide how this page should work -->
<!-- this should work like a book, with pages, you can probably use one layout with an if statement based on URL -->

<ul>
    {% for page in collections.page %}
    {% if page.data.ID == ID %}
    <li><a href="{{ page.url }}"> <img src="../pages/img/{{ page.data.image }}" style="max-height: 100px;" /> - {{ page.data.title }} - {{ page.data.description }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
